/* CSS goes here */
html {
  height:100%;
  font-size:100%;
}

body {height:100%}
img { max-width: 100%; }


div {width="100%"}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }


.container_title {
   font-family: "Times New Roman", Times, serif;
   font-weight: bold;
   text-align: center;
   width:100%;
}

.container_margin {
  margin-top:1%;
  margin-left:1%;
  margin-right:1%;
  margin-bottom:1%;
}

.container_map {
}

.google-maps {
  position: absolute;
  padding-top: 100%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.container_list {
    width: 50%;
}

.container_search {
    width: 50%;
}

.container_menu {
    width: 50%;
}

.title-window {
  font-family: "Times New Roman", Times, serif;
   font-size: 14px;
   font-weight: bold;
}


.info-window {
    width: 100%;
}

.name-window {
  font-family: "Times New Roman", Times, serif;
   font-size: 100%;
   font-weight: bold;
   font-color: black;
   width:100%;
}

.icon-window {
    width:10%;
}

.geo-window {
  font-family: "Times New Roman", Times, serif;
   font-size: 75%;
   font-weight: bold;
}

.web-window {
  font-family: "Times New Roman", Times, serif;
   font-size: 20px;
   font-weight: bold;
}


.list_class {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

.web_class {
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
}

.button_class {
   font-family: "Times New Roman", Times, serif;
   font-size: 12px;
   font-weight: bold;
}

.search_class {
   font-family: "Times New Roman", Times, serif;
   font-size: 14px;
}

#wxWrap {
    width: 350px;
    background: #EEE; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(224,224,224,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
    padding: 2px 13px 2px 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#wxIntro {
    display: inline-block;
    font: 14px/20px Arial,Verdana,sans-serif;
    color: #666;
    vertical-align: top;
    padding-top: 9px;
}
#wxIcon {
    display: inline-block;
    width: 61px;
    height: 34px;
    margin: 2px 0 -1px 1px;
    overflow: hidden;
    background: url('http://l.yimg.com/a/lib/ywc/img/wicons.png') no-repeat 61px 0;
}
#wxIcon2 {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 1px 6px 0 8px;
    overflow: hidden;
}
#wxTemp {
    display: inline-block;
    font: 20px/28px Arial,Verdana,sans-serif;
    color: #333;
    vertical-align: top;
    padding-top: 5px;
    margin-left: 0;
}